<%= form_with(model: message, class: 'form-inline') do |form| %>
  <% if message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
        <% message.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_field :content, placeholder: 'Type your message here...', class: 'form-control mr-2' %>
  </div>

  <%= form.hidden_field :room_id, value: room.id %>
  <%= form.submit 'Send', class: 'btn btn-primary' %>
  
<% end %>
