<p id="notice"><%= notice %></p>

<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <p>Hello, <%= current_user.username %></p>
            <div class="card mb-5">
                <div class="card-body">
                    <%= render 'form', room: Room.new %>
                </div>
            </div>
            <% @rooms.each do |room| %>
                <%= link_to room do %>
                    <div class="card mb-2">
                        <div class="card-body">
                            <%= room.name %> 
                        </div>
                    </div>
                <% end %>
            <% end %>

        </div>
        <div class="col-9">
            <% if @room.present? %>
                <div class="chat-room">
                    <p><%= @room.name %></p>
                    <% @room.messages.each do |message| %>
                        <p><%= message.content %></p>
                    <% end %>
                    <div class="chat-box">
                        <%= render 'messages/form', message: Message.new, room: @room %>
                    </div>
                </div>
                
            <% end %>
        </div>
    </div>
</div>

